* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "s t"
    "s c";
  grid-template-columns: 240px auto;
  grid-template-rows: 100px auto;

}

.Top_bar, .Content {
  padding: 10px;
}

.Top_bar {
  grid-area: t;
  background-color: #D9D9D9;
}

.Sidebar {
  grid-area: s;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 240px;
  min-width: 240px;
  padding: 0;
  text-align: left;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);
  padding: 20px;
  background-color: #2D2D2D;
}

.Sidebar > h2 {
  color: #D9D9D9;
}

.Task__group {
/*  display: flex;
  direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
*/

}

.Task__groups {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Task__group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Task__group::first-child {
  margin-top: 5px;

}

.Task__group::last-child {
  margin-bottom: 5px;
}

.Task__group input {
  width: auto;
}

.__selected-group {
  font-weight: bold;
}

.Content {
  grid-area: c;
  padding: 40px;
  min-width: 1100px;
/*background-color: #F8F8F8;*/
}

Task__list {
  display: flex;
  display: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.Task__item {
  padding: 16px 40px;
  display: flex;
  direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #F8F8F8;
  gap: 20px;
}

.Title {
  text-align: left;
}

.task-done input {
  text-decoration-color: #A5A5A5;
  color: #A5A5A5;
}

.status {
  width: 130px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  direction: row;
  justify-content: center;
  wrap: no-wrap;
  color: white;
  font-weight: bold;
  text-shadow: #A5A5A5 0 0 1px;
  text-transform: lowercase;
}

.status-text:first-letter {
    text-transform: uppercase;
}

/* #BB6BD9 */
.__in_process {
  background-color: #F2C94C;
}

.__done {
  background-color: #6FCF97;
}

.__expired {
  background-color: #EB5757;
}

.__deadline_is_coming  {
  background-color: #F2994A;
}

.task_field {
  display: inline-flex;
  width: auto;
  gap: 20px;
}

.button {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  gap: 10px;
  wrap: no-wrap;
  text-align: left;
  height: 50px;
  line-height: 50px;
  width: auto;
  text-color: #333333;
  background-color: #F8F8F8;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.6s;
  cursor: pointer;
}

.button:hover {
  background-color: #E0E0E0;
}

.button_small {
  min-height: 25px;
  max-height: 25px;
  min-width: 25px;
  max-width: 25px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  background-color: #F8F8F8;
  cursor: pointer;
}

.plus_img {
  height: 25px;
  width: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
