* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "s t"
    "s c";
  grid-template-columns: 240px auto;
  grid-template-rows: 100px auto;

}

.Top_bar, .Content {
  padding: 10px;
}

.Top_bar {
  grid-area: t;
  background-color: #D9D9D9;
}

.Sidebar {
  grid-area: s;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);
  padding: 20px;
  background-color: #2D2D2D;
}

.Sidebar > h2 {
  color: #D9D9D9;
}

.Content {
  grid-area: c;
  padding: 40px;
}

Task__list {
  display: flex;
  display: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.Task__item {
  padding: 16px 40px;
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F8F8;
}

.Header {
  text-align: left;
}

.status {
  width: 130px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  direction: row;
  justify-content: center;
  wrap: no-wrap;
}

.__in_process {
  background-color: #F2C94C;
}

.task_field {
  display: inline-flex;
  width: auto;
}

.button {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  gap: 10px;
  wrap: no-wrap;
  text-align: left;
  height: 50px;
  line-height: 50px;
  width: auto;
  text-color: #333333;
  background-color: #E0E0E0;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.small_button {
  width: 25px;
  height: 25px;
  border: 2px solid #BDBDBD;
  background-color: #F8F8F8;
}

.plus_img {
  height: 25px;
  width: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
